/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin: 5px
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

#login {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: block;
  text-align: center;
}

input {
  margin: 5px
}

h4 {
  text-align: center;
}

canvas {
  image-rendering: pixelated;
  margin-right: auto;
  margin-left: auto;
  display: block;
}