/* Provide sufficient contrast against white background */
a {
  color: #FEB948;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #184C6D;
  background-color: #FBEBC7;
  border-color: #FEB948;
  margin: 5px;
}

.btn-primary:hover {
  color: #184C6D;
  background-color: #FEB948;
  outline: none;
  box-shadow: none;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

#titleImg {
  width: 100vw
}

#login-wrapper {
  background-color: #184C6D;
  height: 100vh;
}

#login {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}

input {
  margin: 5px
}

#game {
  background-color: #184C6D;
  height: 100vh;
  padding-top: 20vh;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}

h4 {
  color: #FEB948;
  text-align: center;
}

h6 {
  color: #FEB948;
  text-align: center;
}

canvas {
  image-rendering: pixelated;
  margin-right: auto;
  margin-left: auto;
  display: block;
}